.statisticsItem{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    color: #fff;
    flex: 1 0 calc((100% - (20px * 4)) / 4);
}

.statisticsList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}

.label {
    text-transform: capitalize;
}

.percentage {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
